@model SneakerApp.Models.Category
@{
    ViewBag.Title = "Afisare categorie";
}


<h2>@Model.CategoryName</h2>

<br />


<form method="post" asp-controller="Categories" asp-action="Delete" asp-route-id="@Model.Id">

    <button class="btn btn-danger" type="submit">Sterge</button>

</form>

<br />

<a class="btn alert-success" href="/Categories/Index/">Afisare categorii</a>

<br />
<hr />
<br />

