@model SneakerApp.Models.Product

<h2 class="text-center mt-5">Editare produs</h2>

<br />

<div class="container mt-5">
    <div class="row">
        <div class="col-md-6 offset-3">

            <form method="post" asp-action="Edit" asp-controller="Products" asp-route-id="@Model.Id">
                <!--
                    Metoda 2 prin care se trimite id-ul catre Controller
                <input type="hidden" asp-for="Id" />  -->

                <div asp-validation-summary="All" class="text-danger"></div>

                <div class="form-group">
                    <label asp-for="Name" class="form-label">Titlu Produs</label>
                    <br />
                    <input asp-for="Name" class="form-control" />

                    <span asp-validation-for="Name" class="text-danger"></span>

                    <br /><br />
                </div>

                <div class="form-group">
                    <label asp-for="Description" class="form-label">Descriere Produs</label>
                    <br />
                    <textarea asp-for="Description" class="form-control"></textarea>

                    <span asp-validation-for="Description" class="text-danger"></span>

                    <br /><br />
                </div>

                <div class="form-group">
                    <label asp-for="Price" class="form-label">Pret Produs</label>
                    <br />
                    <textarea asp-for="Price" class="form-control"></textarea>

                    <span asp-validation-for="Price" class="text-danger"></span>

                    <br /><br />
                </div>

                <div class="form-group">
                    <label asp-for="Stock" class="form-label">Stoc Produs</label>
                    <br />
                    <textarea asp-for="Stock" class="form-control"></textarea>

                    <span asp-validation-for="Stock" class="text-danger"></span>

                    <br /><br />
                </div>

                @* <div class="form-group"> *@
                @*     <label asp-for="Rating" class="form-label">Rating Produs</label> *@
                @*     <br /> *@
                @*     <textarea asp-for="Rating" class="form-control"></textarea> *@

                @*     <span asp-validation-for="Rating" class="text-danger"></span> *@

                @*     <br /><br /> *@
                @* </div> *@

                <div class="form-group">
                    <label for="CategoryId">Selectati categoria</label>
                    <br />
                    <select asp-for="CategoryId" asp-items="Model.Categ" class="form-control">
                        <option value="">Selectati categoria</option>
                    </select>

                    <span asp-validation-for="CategoryId" class="text-danger"></span>

                    <br />
                </div>

                <button class="btn btn-sm btn-success" type="submit">Modifica produs</button>

            </form>
        </div>
    </div>
</div>

