@model SneakerApp.Models.Product

<h2 class="text-center mt-5">Adaugare articol</h2>

<div class="container mt-5">
    <div class="row">
        <div class="col-6 offset-3">

            <form enctype="multipart/form-data" asp-controller="Products" asp-action="New">

                <div asp-validation-summary="All" class="text-danger"></div>
                
                <div class="form-group">
                    <label asp-for="Name" class="form-label">Titlu: </label>
                    <br />
                    <input asp-for="Name" class="form-control" />

                    <span asp-validation-for="Name" class="text-danger"></span>

                    <br /><br />
                </div>

                <div class="form-group">
                    <label asp-for="Description" class="form-label">Descriere: </label>
                    <br />
                    <textarea asp-for="Description" class="form-control"></textarea>
                 
                    <span asp-validation-for="Description" class="text-danger"></span>

                    <br /><br />
                </div>

                <div class="form-group">
                    <label asp-for="Price" class="form-label">Pret: </label>
                    <br />
                    <input asp-for="Price" class="form-control"></textarea>
                   
                    <span asp-validation-for="Price" class="text-danger"></span>

                    <br /><br />
                </div>

                <div class="form-group">
                    <label asp-for="Stock" class="form-label">Stoc: </label>
                    <br />
                    <input asp-for="Stock" class="form-control"></textarea>
               
                    <span asp-validation-for="Stock" class="text-danger"></span>

                    <br /><br />
                </div>

                <div class="form-group">
                    <label asp-for="Image">Incarca Imaginea</label>
                    <input asp-for="Image" class="form-control" type="file" />
                    <span asp-validation-for="Image" class="text-danger"></span>
                </div>

                @* <div class="form-group"> *@
                @*     <label asp-for="Rating" class="form-label">Rating: </label> *@
                @*     <br /> *@
                @*     <select asp-for="Rating" class="form-control"> *@
                @*         <option value="">Select rating</option> *@
                @*         @for (int i = 1; i <= 5; i++) *@
                @*         { *@
                @*             <option value="@i">@i</option> *@
                @*         } *@
                @*     </select> *@

                @*     <span asp-validation-for="Rating" class="text-danger"></span> *@
                @*     <br /><br /> *@
                @* </div> *@

                <div class="form-group">
                    <label for="CategoryId">Categorie: </label>
                    <br />
                    <select asp-for="CategoryId" asp-items="Model.Categ" class="form-control">
                        <option value="">Select category</option>
                    </select>

                    <span asp-validation-for="CategoryId" class="text-danger"></span>

                    <br />
                </div>
                <br />
                <button class="btn btn-success" type="submit">Adauga produs</button>

            </form>
        </div>
    </div>
</div>


